name: gh pages
on:
  push:
    branches:
      - main

jobs:
  build-deploy-gh-pages:
    name: Build / Deploy to gh-pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set-up Node
        uses: actions/setup-node@v5
        with:
          node-version: 18
      - name: yarn install
        run: |
          yarn install
      - name: yarn build
        env:
          NODE_OPTIONS: --openssl-legacy-provider
        run: |
          yarn build
      - name: deploy frontend to gh pages
        uses: crazy-max/ghaction-github-pages@v4     # https://github.com/crazy-max/ghaction-github-pages
        with:
          target_branch: gh-pages
          build_dir: website/build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}