name: S3 Test Build
on:
  pull_request:
    branches:
      - main

jobs:
  build-deploy-s3:
    name: Build / Deploy to S3 Test Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set-up Node
        uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: AWS Creds
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: yarn install
        run: |
          yarn install
      - name: yarn build
        env:
          NODE_OPTIONS: --openssl-legacy-provider
        run: |
          yarn build
      - name: deploy frontend to s3
        run: |
          aws s3 sync ./website/build s3://osu-so-wiki